@media screen and (max-width: 442px) {
    .filter-options select {
      width: 100%; 
    }
  
    #restaurants-list li{
      min-height: 280px;
    }
  
    #restaurants-list li a {
      width: 100%;
      padding: 10px 0;
    }
  }
