/* ============= Media queries ================ */

@media screen and (max-width: 1039px) {
  #restaurants-list li {
    width: calc(50% - 74px);  
  }
}

@media screen and (max-width: 769px) {


  .inside {
    display: flex;
    flex-wrap: wrap;
  }

  .inside header {
    display: flex;
    flex-wrap: wrap;
  }

  .inside #map-container{
    order: -1;
    position: relative;
    background: blue none repeat scroll 0 0;
    min-height: 200px;
    max-height: 400px;
    right: 0;    
    width: 100%; 
  }

  .inside .restaurant-info-container {
    width: 100%;
  }

  .inside #restaurant-container, 
  .inside #reviews-container {
    padding-top: 10px; 
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 594px) {

  .filter-options h2 {
    padding-top: 8px;
    width: 100%; 
  }

  nav h1 a {
    letter-spacing: 5px;
  }

  #restaurants-list li {
    width: calc(100% - 50px); 
  }
}

@media screen and (max-width: 442px) {
  .filter-options select {
    width: 100%; 
  }

  #restaurants-list li{
    min-height: 280px;
  }

  #restaurants-list li a {
    width: 100%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 370px) {
  nav h1 a {
    font-size: 1em;
    line-height: 1.7;
  }

}

@media screen and (max-width: 262px) {
  .restaurant-item {
    margin: 0 10px;
  }

  #restaurants-list li {
    margin: 0 0 0 10px;
    padding: 10px;
  }

  #restaurants-list {
    padding: 0 10px 0 0;
  }
}