@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%; 
}

#footer {
  background-color: #444;
  color: #eee;
  font-size: 9pt;
  letter-spacing: 1px;
  padding: 25px 10px;
  text-align: center;
  text-transform: uppercase;
  width: calc(100% - 20px);
}


#footer a:hover,
#footer a:focus {
  text-decoration: underline;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
}

nav h1 {
  margin: auto;
  text-align:center;
}

nav h1 a {
  color: #fff;
  /* font-size: 14pt; */
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 3.2;
}

nav h1 a span{
  letter-spacing: 0;
}

nav h1 a:hover, nav h1 a:focus {
  text-decoration: underline;
  color: #ddd;
}



/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #f3f3f3;
  margin-top: 80px;
}


/* ============= No connection ================ */
.no-connection {
  margin-top: 120px;
  padding: 0 0 0 20px;
  height: calc(100vh - 188px);
}
